:root {
    --highlight-color: #e6f2ff; /* Light blue */
    --primary-color: #38537f; /* Navy blue */
    --secondary-color:#C4B08D; /* Rust gold */
    --tertiary-color: #62A3C3; /* Light blue*/
    --quarternary-color:#A1B3C1; /* Steel blue */
    --galaxy1:#EBD9B1;
    --galaxy2:#DAB870;
    --height: calc(100vh - 50px);
    --mouseover: #CDD3EA;
    --selected: #3879D9;
    --light-yellow: #3879D9;
}





body {
    font-family: 'Noto Sans', sans-serif;
}

.selected {
    background-color: red;
}

table.dataTable tbody tr.selected{
    background-color:var(--highlight-color));
}


/* Charts */
.chart {
    background-color: #ffffff;
    border: 1px solid #111;
    float:left;
    width:100%;
}

.js-plotly-plot {
    float: left;
}



/* Volcano Plot */

.axis path,
.tick line,
.tick text {
    stroke: #666;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
}

.tick text {
    fill: #666;
}

.label {
    fill: #666;
    font-weight: 700;
    font-size: 12px;
}

/* Significance threshold line */
.threshold {
    stroke: #333;
    stroke-dasharray: 5px 10px;
    stroke-opacity: 0.25;
}

.dot {
    /*pointer-events: all;*/
    fill: #666;
    stroke: none;
    opacity: 0.4;
}

.dot.sig {
    fill: red;
}

.dot.fold {
    fill: blue;
}

.dot.sigfold {
    fill: green;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

/*Add clip path for dots and threshold lines to ensure they arent drawn if outside the clip box*/
.circlesContainer {
    clip-path: url(#clip);
}

.thresholdLines {
    clip-path: url(#clip);
}

.vol_tooltip {
    position: absolute;
    z-index: 2000;
    background-color: #000;
    color: #fff;
    padding: 2px 7px;
    /* visibility: hidden; */
    opacity: 0.75;
    border-radius: 3px;
}

.vol_tooltip::after {
    content: " ";
    z-index: 10;
    position: absolute;
    top: 14%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
}


#resetBtn {
    position: absolute;
    font-size: .5em;
    font-weight: bold;
    color: #4c4c4c;
    background-color: #e5e5e5;
    box-shadow: 1px 1px 0.5px rgba(51,51,51, 0.1);
    border: 1px solid rgba(76, 76, 76, 0.5);
    border-radius: 3px;
    outline: none;
}

#resetBtn:hover {
    color: #000;
    cursor: pointer;
}






/* Dropdown CSS */
/* Dropdown Button */
.option-dropbtn {
  background-color: #b2b2b2;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.option-dropdown {
    min-width:160px;
  position: relative;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 1px;
  margin: 2px;
}

/* Dropdown Content (Hidden by Default) */
.option-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.option-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.option-dropdown-content a:hover {background-color: #ddd;}

/* Change color of dropdown links on hover */
.option-dropdown-content {background-color: #ddd}

/* Change the background color of the dropdown button when the dropdown content is shown */
.option-dropdown:hover .dropbtn {background-color: #3e8e41;}


